:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  background-color: #FFFDFB;
}

main {
	border: 2px solid;
	width: 72vw;
	max-width: 720px;
	height: max-content;
	margin: auto;
}

h1 {
  text-align: center;
  font-size: 2.3rem;
  margin: 1px 0px;
}

h2 {
  text-align: center;
  margin-top: 18px;
  font-weight: 500;
  border-bottom: 2px solid;
  padding-bottom: 6px;
  margin: 6px 0px;
  font-size: 1.8rem;

}

form {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	justify-items: center;
	align-items: center;
	padding: 6px;
}

.btn {
	cursor: pointer;
  padding: 6px 10px;
  border: 1px solid;
  border-radius: 15%;
  background-color: #FFFDFB;
}

.general .btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

label {
	width: 90%;
	height: 100%;
	margin: 12px;
  text-align: center;
}

textarea {
	grid-column: 1/ 3;
	width: 90%;
	margin-bottom: 12px;
	padding-bottom: 42px;
}

.userDetails {
	margin: 0px 30px;
	font-size: 1.5rem;
  margin-bottom: 18px;
}

p {
  margin: 6px 0px;
}

.editbtn {
	float: right;
	margin-right: 20px;
	cursor: pointer;
  background-color: #FFFDFB;
  border: none;
}
